<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Register | Articleium</title>
        <link href="static/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="static/css/admin.min.css" rel="stylesheet">
        <%- include('../partials/head.ejs') %>
    </head>
    <body style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url('/static/imgs/bg-masthead.jpg');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Register</h1>
                                        </div>
                                        <%- include ('../partials/messages.ejs') %> 
                                        <form class="user" action="/users/register" method="POST">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                    id="exampleInputEmail" name="emailsignup" aria-describedby="emailHelp"
                                                    placeholder="Enter Email Address...">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                    id="exampleInputPassword" name="passwordsignup" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                    id="exampleInputPassword" name="passwordsignup_confirm" aria-describedby="passwordConfirmHelp"
                                                    placeholder="Password Confirm">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                    id="exampleInputEmail" name="firstName" aria-describedby="firstNameHelp"
                                                    placeholder="First Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                    id="exampleInputEmail" name="lastName" aria-describedby="lastNameHelp"
                                                    placeholder="Last Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="number" min="13" class="form-control form-control-user"
                                                    id="exampleInputEmail" name="age" aria-describedby="emailHelp"
                                                    placeholder="Age">
                                            </div>
                                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Register">
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <span class="small">Already a member? </span><a class="small" href="/users/login">Log In</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="/">Articleium</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="static/js/admin.min.js"></script>

    </body>

</html>